.add-btn {
    background-color: #ff9b44;
    border: 1px solid #ff9b44;
    border-radius: 50px;
    color: #fff;
    float: right;
    font-weight: 500;
    height: 40px;
    width: 150px;
    min-width: 140px;
    text-align: center;

}
.add-btn:hover,
.add-btn:focus,
.add-btn:active {
	background-color: #ff851a;
	border: 1px solid #ff851a;
    color: #fff;
}